@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(250, 249, 246, 1);
  color: rgba(105, 83, 67, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-f-header.is-open .w-f-header-background {
  left: 0;
}
.w-f-header-button-wrapper {
  margin-left: auto;
}
.w-f-header-icon {
  display: none;
}

.w-f-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-f-navigation-list.is-open {
  right: 0;
}
.w-f-header-icon-menu {
  display: block;
}

.w-f-header-icon-button.is-open .w-f-header-icon-menu {
  display: none;
}

.w-f-header-icon-button.is-open .w-f-header-icon-close {
  display: block;
}
.w-f-title-img {
  height: 27px;
}
.w-f-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(224, 218, 200, 0.8);
}

.w-f-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(224, 218, 200, 0.8);

  backdrop-filter: blur(40px);
}
.w-f-header.is-open .w-f-header-background {
  left: 0;
}
.w-f-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-f-header-icon-menu {
  display: block;
}

.w-f-header-icon-button.is-open .w-f-header-icon-menu {
  display: none;
}

.w-f-header-icon-button.is-open .w-f-header-icon-close {
  display: block;
}

.w-f-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 24px 16px;
  position: relative;
}

.w-f-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 270px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 16px;
  gap: 16px;
  background: rgba(224, 218, 200, 0.8);

  backdrop-filter: blur(40px);
}

.w-f-navigation-list.is-open {
  right: 0;
}

.w-f-navigation-link {
  font-family: Kumbh Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(105, 83, 67, 1);
}

.w-f-navigation-link:hover,
.w-f-navigatioт-link:focus {
  color: rgba(76, 51, 32, 1);
}

.w-f-header.is-open {
  background-color: transparent;
}

.w-f-navigation-img {
  display: none;
}

@media screen and (min-width: 1205px) {
  .w-f-header-button-wrapper {
    display: none;
  }
  .w-f-navigation-img {
    display: flex;
    height: 40px;
    margin-right: 100px;
  }
  .w-f-policy-terms-header-icon-menu {
    display: none;
  }

  .w-f-header {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(40px);
  }

  .w-f-header-background {
  }
  .w-f-header-icon-button {
    display: none;
  }
  .w-f-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-f-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 12px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-f-navigation-link {
    font-family: Kumbh Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -4%;

    text-decoration: none;
  }

  .w-f-navigation-item-desk {
    display: none;
  }
}
.w-f-home {
  width: 375px;
  height: 681px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40051.png");
  margin: auto;
}
.w-f-home-container {
  width: 375px;
  padding: 165px 16px 0px;
  margin: auto;
}

.w-f-home-title {
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
}

.w-f-home-text {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;

  padding: 32px 0 176px;
}

.w-f-home-button-link {
  width: 343px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background: rgba(76, 51, 32, 1);
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(250, 249, 246, 1);
  display: block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.w-f-home-button-link:hover {
  background: rgba(54, 30, 10, 1);
}

@media screen and (min-width: 1205px) {
  .w-f-home {
    width: 1440px;
    height: 938px;
    background-image: url("/img/Frame\ 40052.png");
  }
  .w-f-home-container {
    width: 1440px;
    padding: 180px 72px 0px 732px;
  }

  .w-f-home-title {
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .w-f-home-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 40px 0 80px;
  }
  .w-f-home-button-link {
    width: 306px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    margin-left: auto;
  }
}

.w-f-why-container {
  width: 375px;
  height: 718px;
  margin: auto;
  padding: 80px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40053.png");
}
.w-f-about-title-e {
  padding: 0 60px;
}
.w-f-why-q {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 275px;
}
.w-f-why-list {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.w-f-why-item {
  padding-top: 12px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  border-radius: 4px;
  background: rgba(240, 237, 228, 1);

  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1205px) {
  .w-f-why-container {
    width: 1440px;
    height: 664px;
    margin: auto;
    padding: 120px 72px 0;

    background-image: url("/img/Frame\ 40054.png");
  }
  .w-f-about-title-e {
    padding: 0 60px;
  }
  .w-f-why-q {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 32px;
    width: 636px;
  }
  .w-f-why-list {
    padding-top: 24px;
    width: 636px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .w-f-why-item {
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 8px;
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.w-f-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.w-f-uniqueness-list {
  padding: 24px 0;
}

.w-f-uniqueness-item {
  margin: 0 12px;
  width: 343px;
  height: 157px;
  padding: 66px 16px 0;
  border-radius: 4px;
  background: rgba(254, 253, 252, 1);

  transition: all 0.3s ease-in-out;
}
.w-f-uniqueness-item:hover {
  background: rgba(245, 240, 232, 1);
}
.w-f-uniqueness-text-bold {
  font-family: Kumbh Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}
.w-f-uniqueness-text {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 16px;
}
.slick-dots {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 24px;
  height: 24px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Rectangle\ 62.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Rectangle\ 60.png") no-repeat center/cover;
}

@media screen and (min-width: 1205px) {
  .slick-dots li {
    display: none;
  }
  .w-f-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 120px 72px 0;
  }
  .w-f-uniqueness-list {
    padding: 24px 0 0;
  }

  .w-f-uniqueness-item {
    width: 306px;
    height: 216px;
    padding: 76px 24px 0;
    border-radius: 8px;
  }
  .w-f-uniqueness-text-bold {
    font-family: Kumbh Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .w-f-uniqueness-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.w-f-about-title {
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.w-f-about-title-text {
  font-family: Kumbh Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 40px;
}

.w-f-about-q {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 24px;
}
.w-f-about-title-text-q {
  margin-right: 80px;
}
@media screen and (min-width: 1205px) {
  .w-f-about-title {
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .w-f-about-title-text {
    font-family: Kumbh Sans;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 56px;
  }
  .w-f-about-q {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 32px;
  }
}

.w-f-how-container {
  margin: auto;
  width: 375px;
  padding: 72px 16px 0;
  position: relative;
}
.w-f-how-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.w-f-how-item {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  background: rgba(240, 237, 228, 1);

  width: fit-content;
  border-radius: 4px;
  padding: 12px 8px;
}

@media screen and (min-width: 1205px) {
  .w-f-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 72px 0;
  }
  .w-f-how-list {
    padding-top: 24px;
  }

  .w-f-how-item {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    border-radius: 8px;
    padding: 16px 24px;
  }

  .w-f-how-img {
    width: 588px;
    height: 362.0330505371094px;

    top: -40px;

    position: absolute;
  }
}

.w-f-reviews-container {
  margin: auto;
  padding: 80px 16px 0;
  width: 375px;
}
.w-f-reviews-list {
  padding: 24px 0 0;
}

.w-f-reviews-item {
  margin: 0 8px;
  width: 343px;
  height: 221px;
  transition: all 0.3s ease-in-out;
  padding: 16px;
  border-radius: 8px;
  background: rgba(129, 102, 77, 0.1);
}
.w-f-reviews-item:hover {
  background: rgba(129, 102, 77, 0.2);
}
.w-f-reviews-img {
  object-fit: cover;
  object-position: center;
  width: 311px;
  height: 156px;
  border-radius: 8px;
}
.w-f-reviews-text {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 12px;
}

@media screen and (min-width: 1205px) {
  .w-f-reviews-container {
    margin: auto;
    padding: 120px 72px 0;
    width: 1440px;
  }
  .w-f-reviews-list {
    padding: 24px 0 0;
  }

  .w-f-reviews-item {
    margin: 0 12px;
    width: 306px;
    height: 282px;
    padding: 24px;
    border-radius: 8px;
  }

  .w-f-reviews-img {
    object-fit: cover;
    object-position: center;
    width: 258px;
    height: 156px;
    border-radius: 8px;
  }
  .w-f-reviews-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.w-f-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 80px;
}

.w-f-features-div {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background: rgba(216, 210, 196, 1);
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
}
.w-f-features-div-t {
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 0 57px;
}
.w-f-features-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.w-f-features-input-t {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;

  padding-top: 4px;
}

.w-f-features-input {
  border-radius: 8px;
  padding: 10px 8px;
  background: rgba(243, 242, 237, 1);

  font-family: Kumbh Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: rgba(155, 125, 91, 0.7);
  border: none;
}
.w-f-features-textarea {
  height: 110px;
}
.w-f-features-button {
  border: none;
  background: rgba(76, 51, 32, 1);
  transition: all 0.3s ease-in-out;
  width: 311px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(250, 249, 246, 1);
  margin-top: 4px;
}
.w-f-features-button:hover {
  background: rgba(54, 30, 10, 1);
}
.w-f-features-text-bold {
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 24px;
  color: rgba(155, 125, 91, 1);
}
.w-f-features-text-bolds {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-left: 8px;
  color: rgba(105, 83, 67, 1);
  text-decoration: none;
}

@media screen and (min-width: 1205px) {
  .w-f-features-container {
    width: 1440px;
    margin: auto;
    padding: 116px 72px 120px;
  }

  .w-f-features-div {
    margin-top: -31px;
    display: flex;
    flex-direction: column;
    background: rgba(216, 210, 196, 1);
    width: 636px;
    padding: 24px;
    border-radius: 8px;
    margin-left: auto;
  }
  .w-f-features-div-t {
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    padding: 0px;
  }
  .w-f-features-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .w-f-features-input-t {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 4px;
  }

  .w-f-features-input {
    border-radius: 8px;
    padding: 10px 8px;
    background: rgba(243, 242, 237, 1);

    font-family: Kumbh Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

    color: rgba(155, 125, 91, 0.7);
    border: none;
  }
  .w-f-features-textarea {
    height: 110px;
  }
  .w-f-features-button {
    width: 306px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 8px;
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    margin: auto;
    margin-top: 4px;
  }
  .w-f-features-button:hover {
    background: rgba(54, 30, 10, 1);
  }
  .w-f-features-text-bold {
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 32px;
    color: rgba(155, 125, 91, 1);
  }
  .w-f-features-text-bolds {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    padding-left: 12px;
    text-decoration: none;
  }
}

.w-f-container {
  padding: 116px 16px 80px;
  width: 375px;
  margin: auto;
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.w-f-container h1 {
  font-family: Kumbh Sans;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.w-f-container h2 {
  margin-top: 10px;
}

.w-f-container h3 {
  margin-top: 10px;
}

.w-f-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.w-f-container ul li {
  margin-bottom: 10px;
}
.w-f-container p {
  margin-top: 10px;
}
.w-f-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-f-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1205px) {
  .w-f-container {
    padding: 183px 72px 120px;
    width: 1440px;
    margin: auto;

    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .w-f-container h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-f-container h2 {
    margin-top: 20px;
  }

  .w-f-container h3 {
    margin-top: 20px;
  }

  .w-f-container ul {
    margin-top: 20px;
  }

  .w-f-container ul li {
    margin-bottom: 10px;
  }
  .w-f-container p {
    margin-top: 20px;
  }
}

.w-f-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.w-f-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.w-f-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.w-f-footer-copyright {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  text-align: center;
}
.w-f-footer-title {
  height: 27px;
}
@media screen and (min-width: 1205px) {
  .w-f-footer-container {
    width: 1440px;
    padding: 24px;

    gap: 16px;
  }
  .w-f-footer-title {
    height: 36px;
  }
  .w-f-footer-wrapper {
    gap: 12px;
  }

  .w-f-footer-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .w-f-footer-copyright {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.w-f-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(60px);
  z-index: 1000;
  display: none;
}

.w-f-cookie-popup-text-two {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(105, 83, 67, 1);
}

.w-f-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-f-cookie-button {
  border: 1px solid rgba(105, 83, 67, 1);
  background-color: transparent;
  width: 134px;
  border-radius: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;

  vertical-align: middle;
  color: rgba(105, 83, 67, 1);
}

#accept-cookies {
  background: rgba(105, 83, 67, 1);

  color: rgba(240, 253, 252, 1);
}

.w-f-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.w-f-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1205px) {
  .w-f-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 480px;
  }

  .w-f-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-f-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .w-f-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 30px;
    display: none;
  }
}
